<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="icon" type="image/png" href="/media/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/media/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/media/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/media/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Uploader" />
    <link rel="manifest" href="/media/favicon/site.webmanifest" />
    <title>
        <%= locals.errorTitle ? locals.errorTitle : "Error" %>
    </title>
</head>
<body>
    <div class="error-notice">
        <h1 class="error-code">
            <%= locals.errorCode ? locals.errorCode : "500" %>
        </h1>

        <h2 class="error-description">
            <%= locals.errorDesc ? locals.errorDesc : "An internal error has occurred!" %>
        </h2>

        <p>
            Return <a href="/">Home</a>
        </p>
    </div>
</body>
</html>