@font-face {
    font-family: Inter;
    src: url(../fonts/InterVariable.ttf);
}

@font-face {
    font-family: Inter;
    src: url(../fonts/InterVariable-Italic.ttf);
    font-style: italic;
}

/* ----------------------- General Styles ----------------------- */

:root {
    --fs-sm: clamp(0.8rem, 0.15vi + 0.77rem, 0.89rem);
    --fs-base: clamp(1rem, 0.31vi + 0.94rem, 1.19rem);
    --fs-md: clamp(1.25rem, 0.55vi + 1.14rem, 1.58rem);
    --fs-lg: clamp(1.56rem, 0.91vi + 1.38rem, 2.11rem);
    --fs-xl: clamp(1.95rem, 1.43vi + 1.67rem, 2.81rem);
    --fs-xxl: clamp(2.44rem, 2.18vi + 2.01rem, 3.75rem);
    --fs-xxxl: clamp(3.05rem, 3.24vi + 2.4rem, 5rem);

    --background-color: #090a15;
    --error-background: rgba(194, 48, 48, 0.1);

    --text-color: #e2e8f0;
    --sub-text: #a0aec0;
    --highlight-text: #7f9cf5;
    --error-text: #ef6a6a;
    --low-opacity-highlight: rgba(127, 156, 245, 0.35);

    --main-border-color: #2d3748;
    --error-border-color: rgba(194, 48, 48, 0.4);

    --main-button-color: #5a67d8;
    --green-button-color: #16a394;
    --red-button-color: #c23030;

    --main-button-color-low-opacity: rgba(90, 103, 216, 0.25);

    color-scheme: dark;
}

body {
    color: var(--text-color);
    background-color: var(--background-color);

    font-family:
        Inter, system-ui, 'Trebuchet MS', 'Segoe UI', Roboto, Helvetica, Arial,
        sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

    min-height: 100svh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

footer {
    padding: 0.75rem;
}

.footer-links-cont {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.footer-links-cont > a {
    display: grid;
    place-items: center;

    width: 2.75rem;
    height: 2.75rem;

    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    border: 1px solid var(--main-border-color);

    cursor: pointer;

    transition: 0.2s ease-in-out;
}

.footer-links-cont > a > img {
    opacity: 0.85;
}

.footer-links-cont > a:hover {
    transform: translateY(-0.15rem);
}

body:has(.error-notice) {
    display: grid;
    place-items: center;
}

.error-notice {
    padding: 0.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    text-align: center;
}

.error-notice > .error-code {
    font-size: var(--fs-xxxl);
    line-height: 1;
}

.error-notice > .error-description {
    font-size: var(--fs-md);
    margin-bottom: 0.25rem;
}

.error-notice > p {
    color: var(--sub-text);
    font-size: var(--fs-base);
}

.error-notice > p > a {
    color: var(--highlight-text);
    font-style: italic;
}

/* ----------------------- General Styles ----------------------- */

/* ----------------------- Home Styles ----------------------- */

.home-header {
    align-self: baseline;
    padding: 0.5rem;
    padding-left: 1.25rem;
}

.home-header > h1 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    max-width: calc(85vw - 2rem);
    word-wrap: break-word;
    overflow: hidden;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;

    font-size: var(--fs-md);
}

.home-header > h2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    max-width: calc(85vw - 2rem);
    word-wrap: break-word;
    overflow: hidden;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;

    font-size: var(--fs-sm);
    color: var(--sub-text);
    font-weight: 300;
}

.session-info {
    display: flex;
}

.session-user {
    font-weight: 600;
    font-style: italic;
    max-width: 20ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.home-main,
.help-main,
.login-main,
.signup-main,
.logout-main,
.folder-main,
.file-main {
    width: 100%;
    flex-grow: 1;
    border: 1px solid var(--main-border-color);
    border-left: none;
    border-right: none;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-notice,
.no-folders-notice,
.no-files-notice {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.login-notice > .folder-icon-cont > img,
.no-folders-notice > .folder-icon-cont > img,
.no-files-notice > .file-icon-cont > img {
    width: 2.25rem;
    height: 2.25rem;
}

.login-notice > .folder-icon-cont,
.no-folders-notice > .folder-icon-cont,
.no-files-notice > .file-icon-cont {
    border: 1px solid var(--low-opacity-highlight);
    border-radius: 1rem;
    margin-bottom: 0.25rem;
    padding: 1rem;
}

.notice-heading {
    font-size: var(--fs-md);
    text-align: center;
}

.notice-subtext {
    font-size: var(--fs-sm);
    color: var(--sub-text);
    text-align: center;
    max-width: 55ch;
}

.action-links-cont {
    width: 100%;
    max-width: 50ch;
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}

.no-folders-notice > .action-links-cont,
.no-files-notice > .action-links-cont {
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-links-cont > a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.action-links-cont > a:hover {
    filter: brightness(1.075);
}

.action-links-cont > a > img {
    width: 1.25rem;
    height: 1.25rem;
}

.signup-link,
.create-folder-link,
.create-file-link {
    background-color: var(--main-button-color);
}

.signup-link:hover,
.create-folder-link:hover {
    filter: brightness(1.075);
}

.login-link {
    border: 1px solid var(--main-border-color);
    opacity: 0.75;
}

.login-link:hover {
    opacity: 1;
}

.all-folders-cont,
.all-files-cont {
    flex-grow: 1;
    width: min(100%, 400px);

    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    align-items: stretch;
    align-content: start;
    gap: 1rem;
}

.folder-cont,
.file-cont {
    padding: 1rem;
    border: 1px solid var(--main-border-color);
    border-radius: 0.5rem;

    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    transition: 0.2s ease-in-out;
}

.folder-cont:hover,
.file-cont:hover {
    border: 1px solid var(--highlight-text);
}

.folder-info,
.file-info {
    display: flex;
    gap: 1rem;
}

.folder-info > img,
.file-info > img {
    width: 2.75rem;
    height: 2.75rem;
    border-radius: 0.75rem;
    padding: 0.4rem;
    background-color: var(--main-button-color-low-opacity);
}

.folder-name,
.file-name {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    max-width: 100%;
    word-wrap: break-word;
    overflow: hidden;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;

    text-transform: capitalize;
    font-size: var(--fs-base);
    font-weight: 600;
}

.folder-subtext,
.file-subtext {
    text-transform: capitalize;
    font-size: var(--fs-sm);
    color: var(--sub-text);
}

.folder-actions,
.file-actions {
    margin-top: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
}

.folder-actions > a,
.file-actions > a {
    font-size: var(--fs-sm);
    text-align: center;
    padding: 0.25rem;
    border-radius: 0.35rem;

    transition: 0.2s ease-in-out;
}

.edit-folder-link,
.edit-file-link {
    border: 1px solid var(--main-border-color);
    color: var(--sub-text);
}

.edit-folder-link:hover,
.edit-file-link:hover {
    color: var(--text-color);
}

.view-folder-link,
.view-file-link {
    background-color: var(--main-button-color);
}

.view-folder-link:hover,
.view-file-link:hover {
    opacity: 0.875;
}

.delete-folder-link,
.delete-file-link {
    border: 1px solid var(--main-border-color);
    color: var(--error-text);
}

.delete-folder-link:hover,
.delete-file-link:hover {
    background-color: var(--error-background);
}

@media (min-width: 40rem) {
    .home-header > h1 {
        max-width: calc(420px - 2rem);
    }

    .home-header > h2 {
        max-width: calc(420px - 2rem);
    }

    .all-folders-cont,
    .all-files-cont {
        width: min(100%, 420px);
        gap: 1.5rem;
    }
}

@media (min-width: 48rem) {
    .home-header > h1 {
        max-width: calc(780px - 2rem);
    }

    .home-header > h2 {
        max-width: calc(780px - 2rem);
    }

    .all-folders-cont,
    .all-files-cont {
        width: min(100%, 780px);
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 64rem) {
    .all-folders-cont,
    .all-files-cont {
        width: min(100%, 1200px);
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 96rem) {
    .all-folders-cont,
    .all-files-cont {
        width: min(100%, 2000px);
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/* ----------------------- Home Styles ----------------------- */

/* ----------------------- Help Styles ----------------------- */

.qa-cont {
    max-width: 280px;
}

.qa-cont > h2 {
    font-size: var(--fs-base);
}

.qa-cont > p {
    margin-top: 0.5rem;
    font-size: var(--fs-sm);
    color: var(--sub-text);
}

.qa-cont:not(:last-child) {
    margin-bottom: 1.25rem;
}

.qa-cont:first-child {
    margin-top: 0.25rem;
}

.qa-cont:last-child {
    margin-bottom: 0.25rem;
}

@media (min-width: 40rem) {
    .qa-cont {
        width: 480px;
        max-width: 480px;
    }

    .qa-cont:not(:last-child) {
        margin-bottom: 1.5rem;
    }

    .qa-cont:first-child {
        margin-top: 0.5rem;
    }

    .qa-cont:last-child {
        margin-bottom: 0.5rem;
    }
}

@media (min-width: 48rem) {
    .qa-cont {
        width: 65ch;
        max-width: 65ch;
    }

    .qa-cont:not(:last-child) {
        margin-bottom: 1.75rem;
    }

    .qa-cont:first-child {
        margin-top: 0.75rem;
    }

    .qa-cont:last-child {
        margin-bottom: 0.75rem;
    }
}

/* ----------------------- Help Styles ----------------------- */

/* ----------------------- Form Styles ----------------------- */

.login-main,
.signup-main,
.logout-main,
.folder-main:not(:has(.no-files-notice)),
.file-main {
    justify-content: start;
}

.app-form {
    margin-top: 1.5rem;

    border: 1px solid var(--main-border-color);
    border-radius: 0.5rem;

    padding: 1rem;

    min-width: 285px;
    max-width: 285px;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-row {
    display: flex;
    flex-direction: column;
}

.form-row > label {
    font-size: var(--fs-sm);
    margin-bottom: 0.25rem;
}

.form-row > input {
    outline: none;
    padding: 0.5rem 0.875rem;
    border: 1px solid var(--main-border-color);
    border-radius: 0.5rem;
    background-color: transparent;

    font-size: var(--fs-sm);
    color: var(--text-color);

    transition: 0.2s ease-in-out;
}

.form-row > input:focus {
    border: 1px solid var(--main-button-color);
}

fieldset {
    border: none;
    border-radius: 1rem;
    padding: 0;
}

legend {
    padding: 0;
    font-size: var(--fs-sm);
}

.radio-list {
    display: grid;
    gap: 0.75rem;
    margin-top: 0.25rem;
}

.radio-option {
    cursor: pointer;
    display: flex;
    align-items: start;
    gap: 0.875rem;
    padding: 0.5rem 0.75rem;
    border-radius: 0.75rem;
    border: 1px solid var(--main-border-color);
}

.radio-option:has(input:focus-visible) {
    border: 1px solid var(--main-button-color);
}

input[type='radio'] {
    appearance: none;

    background-color: var(--background-color);
    color: var(--main-border-color);

    width: 1.25em;
    height: 1.25em;

    margin: 0;

    border: 2px solid var(--main-border-color);
    border-radius: 50%;

    display: grid;
    place-content: center;
}

input[type='radio']:focus {
    outline: 1px solid var(--main-button-color);
    outline-offset: 3px;
}

input[type='radio']::before {
    content: '';

    width: 0.65rem;
    height: 0.65rem;

    border-radius: 50%;

    transform: scale(0);

    transition: 120ms transform ease-in-out;

    box-shadow: inset 1rem 1rem var(--main-button-color);
}

input[type='radio']:checked::before {
    transform: scale(1);
}

.radio-option strong {
    display: block;
    font-size: var(--fs-sm);
    font-weight: 500;
    text-transform: capitalize;
}

.radio-option span {
    display: block;
    font-size: var(--fs-sm);
    color: var(--sub-text);
    line-height: 1.4;
}

input[type='file'] {
    padding: 0.5rem;
}

input[type='file']::file-selector-button {
    margin-right: 0.75rem;
    padding: 0.45rem 0.9rem;
    border-radius: 0.5rem;
    border: none;
    background: var(--main-button-color);
    cursor: pointer;
}

input[type='file']::file-selector-button:hover {
    opacity: 0.9;
}

.form-row > .hint {
    color: var(--sub-text);
    font-size: var(--fs-sm);
}

.app-form > button {
    margin-top: 1.25rem;

    width: 100%;

    outline-color: var(--text-color);
    border: none;
    border-radius: 0.5rem;
    padding: 0.35rem;

    cursor: pointer;

    background-color: var(--main-button-color);

    transition: 0.2s ease-in-out;
}

.app-form > button:hover {
    filter: brightness(1.075);
}

.app-form.logout-form > button,
.app-form.delete-folder-form > button {
    margin-top: 0;
}

.logout-form > p {
    text-align: center;
    font-size: var(--fs-base);
}

.delete-folder-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delete-folder-form > .deleted-folder {
    max-width: calc(285px - 2.25rem);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    overflow: hidden;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    text-align: center;
    font-size: var(--fs-base);
}

.delete-folder-form > .deletion-notice {
    text-align: center;
    font-size: var(--fs-sm);
    font-style: italic;
}

.error-cont {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    border: 1px solid var(--error-border-color);
    border-radius: 0.5rem;

    padding: 0.75rem;

    background-color: var(--error-background);
}

.error-cont > img {
    width: 1rem;
    height: 1rem;
}

.error-cont > p {
    font-size: var(--fs-sm);
}

.error-text {
    font-size: var(--fs-sm);
    color: var(--error-text);
}

@media (min-width: 40rem) {
    .app-form {
        width: 360px;
        max-width: 360px;
    }

    .delete-folder-form > .deleted-folder {
        max-width: calc(360px - 2.25rem);
    }
}

@media (min-width: 48rem) {
    .app-form {
        width: 420px;
        max-width: 420px;
    }

    .delete-folder-form > .deleted-folder {
        max-width: calc(420px - 2.25rem);
    }
}

/* ----------------------- Form Styles ----------------------- */
