<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="icon" type="image/png" href="/media/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/media/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/media/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/media/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Uploader" />
    <link rel="manifest" href="/media/favicon/site.webmanifest" />
    <title>Help</title>
</head>
<body>
    <header class="home-header">
        <h1>Help</h1>
        <h2>Some information about Uploader</h2>
    </header>

    <main class="help-main">
        <div class="qa-cont">
            <h2 class="question-text">
                How do I host files?
            </h2>
            <p class="answer-text">
                Simply login (or sign-up if you haven't already), 
                create a new folder (or select an existing one), 
                and within that folder create a new file via the button at the bottom of the page.
            </p>
        </div>

        <div class="qa-cont">
            <h2 class="question-text">
                What files can I host?
            </h2>
            <p class="answer-text">
                You can host image files with the one of the following formats: .png, .webp, .jpg, jpeg.
            </p>
        </div>

        <div class="qa-cont">
            <h2 class="question-text">
                Is there a limit to the file size I can upload?
            </h2>
            <p class="answer-text">
                Yes, the maximum file size supported is 5MB.
            </p>
        </div>

        <div class="qa-cont">
            <h2 class="question-text">
                Why can't I change the image I hosted?
            </h2>
            <p class="answer-text">
                If you want to change the image you hosted simply delete the current file and host a new one.
            </p>
        </div>

        <div class="qa-cont">
            <h2 class="question-text">
                Is there a limit to the amount of files I can upload?
            </h2>
            <p class="answer-text">
                Yes, given that this is a small personal project, I've decided to limit users to a maximum of 10 files per account.
            </p>
        </div>

        <div class="qa-cont">
            <h2 class="question-text">
                Is there a limit to the amount of folders I can create?
            </h2>
            <p class="answer-text">
                Yes, each user is limited to a maximum of 10 folders.
            </p>
        </div>

        <div class="qa-cont">
            <h2 class="question-text">
                Are files perpetually hosted?
            </h2>
            <p class="answer-text">
                No, all files are automatically deleted after 3 days, again, this is a personal project, these limits make maintaining this project possible.
            </p>
        </div>

        <div class="qa-cont">
            <h2 class="question-text">
                Are folders perpetually hosted?
            </h2>
            <p class="answer-text">
                This project doesn't schedule automatic folder deletion (unlike files); 
                for the most part, expect your folders to remain (unless an admin manually deleted your folder/s).
            </p>
        </div>

        <div class="qa-cont">
            <h2 class="question-text">
                Can I share files with other people?
            </h2>
            <p class="answer-text">
                Yes, when you create/edit your hosted files, you have an option to set them to "Private" or "Public"; 
                "Public" files may be accessed by anyone with a link to the file, whereas "Private" files are only accessible to the user who created them.
            </p>
        </div>

        <div class="qa-cont">
            <h2 class="question-text">
                Can I share folders with other people?
            </h2>
            <p class="answer-text">
                Yes, sharing folders works in a similar way to sharing files; 
                depending on whether you set your folders to "Private" or "Public", users may or may not view your folders.
            </p>
        </div>
    </main>

    <footer>
        <div class="footer-links-cont">
            <a href="/">
                <img src="/media/icons/home.svg" alt="homepage">
            </a>
        </div>
    </footer>
</body>
</html>