<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="icon" type="image/png" href="/media/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/media/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/media/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/media/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Uploader" />
    <link rel="manifest" href="/media/favicon/site.webmanifest" />
    <title><%= locals.folder.name %></title>
</head>
<body>
    <header class="home-header">
        <h1><%= locals.folder.name %></h1>
        <h2><%= locals.folder.description || 'Blank Description' %></h2>
    </header>

    <main class="folder-main">
        <% if (locals.files === null || locals.files.length === 0) { %>
            <div class="no-files-notice">
                <div class="file-icon-cont">
                    <img src="/media/icons/no-file.svg">
                </div>
                    
                <h2 class="notice-heading">No files yet!</h2>
                <p class="notice-subtext">
                    This shared folder has no files.
                </p>

                <div class="action-links-cont">
                    <a href="/" class="create-file-link">
                        <img src="/media/icons/home.svg">
                        Return Home
                    </a>
                </div>
            </div>
        <% } else { %>
            <div class="all-files-cont">
                    <%- include("../partials/shared-file-container.ejs", { files: locals.files, folderId: folder.folderId }) %>
            </div>
        <% } %>
    </main>

    <footer>
        <div class="footer-links-cont">
            <a href="/">
                <img src="/media/icons/home.svg" alt="homepage">
            </a>
        </div>
    </footer>
</body>
</html>