<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="icon" type="image/png" href="/media/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/media/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/media/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/media/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Uploader" />
    <link rel="manifest" href="/media/favicon/site.webmanifest" />
    <title>Delete File</title>
</head>
<body>
    <header class="home-header">
        <h1>Delete File</h1>
        <h2>Delete a hosted file</h2>
    </header>

    <div class="file-main">
        <form action="<%= `/folder/${folder.folderId}/delete-file/${file.fileId}` %>" method="POST" class="delete-file-form app-form">
            <p class="deleted-file">Delete: <strong><%= locals.file.name %></strong></p>

            <p class="deletion-notice">Effective immediately all shared instances of the file will be removed.</p>

            <button type="submit">Delete</button>
        </form>
    </div>

    <footer>
        <div class="footer-links-cont">
            <a href="/">
                <img src="/media/icons/home.svg" alt="homepage">
            </a>
        </div>
    </footer>
</body>
</html>